@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>


<address>
    Flat#L324<br />
    344 Avon Road, Devon ,PA-19333<br />
    <abbr title="Phone">P:</abbr>
    315.800.8941
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nnelaval@villanova.edu">nnelaval@villanova.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@traumenauto.com">marketing@traumenauto.com</a>
</address>